/* Variáveis */
:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: #702283;
}

/* Informações do Body */
body {
  font-family: var(--primary-font);
  margin: 0px;
}

/* Header principal */

#header {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
  vertical-align: middle;
  height: 207px;
  background: linear-gradient(
    180deg,
    rgb(255, 247, 231) 12%,
    rgb(255, 255, 255) 100%
  );
}

/* Logo roxa do header */
.icon-logo {
  height: fit-content;
  width: 100%;
  padding-top: 60px;
  margin-left: 76px;
}

/*Links da Header */

#col-links {
  display: flex;
  vertical-align: middle;
  justify-content: space-between;
  font-size: 20px;
  height: fit-content;
  padding-top: 75px;
  padding-right: 70px;
}

a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Link ativado da header */
.inicio {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--primary-color);
}

/*Imagem principal*/
.imagem {
  background-image: url("img/Banner.png");
  width: 100%;
  height: 400px;
  background-position: center;
  background-size: cover;
}

/* Botão dentro da imagem*/
.botao-doar {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: 3px solid var(--primary-color);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  height: 62px;
  width: 242px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.botao:hover {
  cursor: pointer !important;
}

/*Div e frase dentro da imagem*/
.doe {
  color: white;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 48px;
}

.infos {
  margin-left: 60px;
  position: absolute;
  margin-top: 150px;
}

/*Porque ajudar e como contribuir*/
#titulo {
  height: 20px;
  margin-left: 76px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
}

.svg-todos {
  height: 100px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
}

.svg {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  width: 350px;
  height: 100px;
}

.icon-contr,
.circulo {
  max-width: 30%;
  max-height: 80px;
  width: auto;
  height: auto;
  padding-right: 15px;
}

.texto-svg {
  padding-top: 15px;
}

/*saiba mais*/

#outras_info {
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  margin-left: 76px;
}

.link-casinha:hover,
.link-casinha {
  text-decoration: underline;
  color: var(--primary-color);
}

/*Nossa historia*/

.engloba-nossa-historia {
  height: 480px;
  width: 100%;
}

.nossa-historia {
  position: relative;
  top: 110px;
  height: 364px;
  padding-top: 50px;
  background-color: #f4f4f4;
}
.titulo-historia {
  height: 20px;
  margin-left: 76px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
}
.todos-retangulos {
  width: 75%;
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  bottom: 200px;
  margin-left: 280px;
  margin-top: -220px;
}

.retangulo {
  width: 251.72px;
  height: 251.72px;
  margin-left: 10px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
}
.quantidade {
  font-weight: bold;
  color: #007940;
  font-size: 64px;
  padding-top: 10px;
  padding-left: 10px;
}
.texto-retangulo {
  text-align: left;
  color: #535353;
  font-size: 20px;
  padding-left: 20px;
  font-weight: lighter;
  margin-top: 40px;
}

.saber-mais {
  width: 100%;
  display: flex;
  justify-content: right;
  position: relative;
  padding-right: 80px;
  bottom: 150px;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

/*áreas de atuação*/

.titulo-atuacao {
  margin-left: 76px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  text-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
}

#area-atuacao {
  width: 658px;
  height: 529px;
  padding-top: 30px;
}

.row {
  display: flex;
  justify-content: center;
  padding: 0;
  margin-top: 5%;
}

#container-img {
  background-color: #f4f4f4;
  height: 450px;
}

.card-body {
  align-items: center;
  vertical-align: middle;
  padding-top: 20%;
}

.todos-botoes {
  display: flex;
  justify-content: space-between;
}

.card {
  color: var(--primary-color);
  font-weight: bold;
  width: 168px;
  height: 168px;
  border-radius: 30px;
  box-shadow: 4px 10px 20px rgba(0, 0, 0, 0.25);
  background: #ffffff;
  align-items: center;
  vertical-align: middle;
  text-align: center;
  border-color: transparent;
  font-size: 21px;
}
.botao-atuacao:hover {
  cursor: pointer;
}

#texto-atuacao {
  margin: 0;
  width: 100%;
  display: flex;
  justify-items: right;
}

.info-atuacao {
  font-size: 24px;
  font-weight: 300px;
  margin-top: 25px;
}

.areas {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-decoration-line: underline;
  color: var(--primary-color);
}
/*Parceiros*/
.div-parceiros {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  margin-bottom: 10%;
}

#titulo-parceiros {
  margin-top: 10%;
}

/*Equipe*/
.div-equipe {
  margin-top: 10%;
  width: 100%;
}

/*Natalia e Doug - Div maior*/

.natalia-maior,
.doug-maior {
  width: 100%;
  display: flex;
}

.natalia-maior {
  padding-bottom: 10%;
}

.doug-maior {
  padding-bottom: 5%;
}

/*Fotos*/
.natalia,
.doug {
  width: 270px;
  height: 258.04px;
  background-position: center;
  background-size: cover;
  margin-left: 76px;
}

.natalia {
  background-image: url("img/foto-nat.jpeg");
}

.doug {
  background-image: url("img/foto-doug.jpg");
}

/* Textos Natalia e Doug*/
.infos-natalia,
.infos-doug {
  padding-left: 40px;
  width: 815px;
  height: 120px;
  text-align: justify;
}

.natalia-nome,
.doug-nome {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 0px;
}

/*Conheça equipe*/
.conheca {
  margin-left: 76px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
}

span {
  color: red;
}

/*footer*/

footer {
  background: linear-gradient(180deg, rgb(255, 254, 253) 30%, #eec5d4 70%);
  height: 751px;
  width: 100%;
  vertical-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  vertical-align: center;
}

/*Links e ícone da página no footer - canto esquerdo*/
.os-links {
  margin-left: 76px;
  font-family: var(--primary-font);
  line-height: 10px;
  padding-top: 15px;
}

.icon-footer {
  padding-top: 60px;
  margin-left: 76px;
}

/*Títulos do meio e canto direito*/
.fale-title,
.contatos-title {
  height: 20px;
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 60px;
}

/*Texto menor das 3 sessoes*/
.os-links,
.contatos,
.fale-conosco {
  width: 350px;
  height: 393px;
  line-height: 10px;
  font-weight: lighter;
}

/*ícones*/
#icone-lk {
  width: 24px;
  height: 24px;
}

#icone-fb {
  width: 24px;
  height: 24px;
}

#icone-inst {
  width: 26px;
  height: 26px;
}

.icons {
  width: 130px;
  display: inline-flex;
  justify-content: space-between;
  vertical-align: middle;
}

/*Formulário*/
input {
  height: 32px;
  width: 262px;
  background: #ffffff;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  border-color: transparent;
  font-family: var(--primary-font);
  padding-left: 20px;
}

textarea {
  width: 262px;
  background: #ffffff;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  border-color: transparent;
  font-family: var(--primary-font);
  padding-left: 20px;
}

.enviar-botao {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px;
  border: 3px solid var(--primary-color);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  height: 32px;
  width: 265px;
  font-weight: 300;
  font-size: 14px;
}

.enviar-botao:hover {
  cursor: pointer;
}

/*Copyright*/
.copyright {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
