/* Variáveis */
:root {
  --primary-font: "Roboto", sans-serif;
  --primary-color: #702283;
}

/* Informações do Body */
body {
  font-family: var(--primary-font);
  font-weight: 400px;
}

/* Header principal */
.header {
  display: flex;
  width: 100%;
  height: 207px;
  background: linear-gradient(
    180deg,
    rgb(255, 247, 231) 12%,
    rgb(255, 255, 255) 100%
  );
}

/* Logo roxa do header */
.icon-logo {
  width: 40%;
  height: 207px;
  padding-top: 60px;
  margin-left: 76px;
}

/*Links da Header */
.link {
  width: 60%;
  display: flex;
  margin-top: 80px;
  justify-content: space-evenly;
  font-size: 20px;
  padding-right: 50px;
}

a {
  font-family: var(--primary-font);
  text-decoration: none;
  color: black;
}

a:hover {
  color: var(--primary-color);
  cursor: pointer;
}

/* Link ativado da header */
.inicio {
  font-family: var(--primary-font);
  font-weight: bold;
  color: var(--primary-color);
}

/*Imagem principal*/
.imagem {
  background-image: url("../img/banner.png");
  width: 100%;
  height: 827px;
}

/* Botão dentro da imagem*/
.botao {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border: 3px solid var(--primary-color);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  height: 62px;
  width: 242px;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.botao:hover {
  cursor: pointer !important;
}

/*Div e frase dentro da imagem*/
.doe {
  color: white;
  font-family: var(--primary-font);
  font-weight: 400;
  font-size: 48px;
}

.infos {
  margin-left: 60px;
  position: absolute;
  margin-top: 280px;
}

/*div por que ajudar casinha e como contribuir*/
.titulo {
  height: 20px;
  margin-left: 76px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
}

.svg-todos {
  height: 100px;
  margin-left: 76px;
  display: flex;
  flex-direction: row;
  vertical-align: center;
  justify-content: space-between;
  
}

.svg {
  display: flex;
  flex-direction: row;
  vertical-align: center;
  width: 350px;
  height: 100px;
}

.icon-contr,
.circulo {
  max-width: 80px;
  max-height: 80px;
  width: auto;
  height: auto;
  padding-right: 15px;
}

/*Nossa Historia*/

.outras_info{
  width: 800px;
  height: 30px;
  margin-left: 76px;
  margin-top: 40px;

}

.link-casinha:hover,
.link-casinha{
  text-decoration: underline;
  color: #ED75B2
}

/*Nossa historia*/

.engloba-nossa-historia{
  height: 480px;
}

.nossa-historia{
  position: relative;
  top: 110px;
  height: 364px;
  padding-top: 50px;
  background-color: #F4F4F4;
}
.titulo-historia{
  height: 20px;
  margin-left: 76px;
  color: var(--primary-color);
  font-size: 36px;
  font-weight: 700;
  

}
.todos-retangulos{
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  bottom: 200px;
  margin-left: 400px;
  margin-top: -220px;
}

.retangulo{
  width: 251.72px;
  height: 251.72px;
  border-radius: 30px;
  margin-bottom: 20px;
  background-color: white;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
}
.quantidade{
  font-weight: bold;
  color: #007940;
  font-size: 64px;
  padding-top: 10px;
  padding-left: 10px;

}
.texto-retangulo{
  text-align: left;
  color: #535353;
  font-size: 20px;
  padding-left: 20px;
  font-weight:lighter;
  margin-top: -40px;
}

.saber-mais{
  position: relative;
  bottom: 150px;
  left: 400px;
  font-size: 24px;
  text-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
}



























/*footer*/

footer {
  background: linear-gradient(180deg, rgb(255, 254, 253) 30%, #eec5d4 70%);
  height: 751px;
  width: 100%;
  vertical-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  vertical-align: center;
}

.os-links {
  margin-left: 76px;
  font-family: var(--primary-font);
  line-height: 10px;
  padding-top: 15px;
}

.icon-footer {
  padding-top: 60px;
  margin-left: 76px;
}

.fale-title,
.contatos-title {
  height: 20px;
  color: var(--primary-color);
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-top: 60px;
}
.os-links,
.contatos,
.fale-conosco {
  width: 350px;
  height: 393px;
  line-height: 10px;
  font-weight: lighter;
}

input {
  height: 32px;
  width: 262px;
  background: #ffffff;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  border-color: transparent;
  font-family: var(--primary-font);
  padding-left: 20px;
}

textarea {
  width: 262px;
  background: #ffffff;
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  border-color: transparent;
  font-family: var(--primary-font);
  padding-left: 20px;
}

.enviar-botao {
  font-family: var(--primary-font);
  background-color: var(--primary-color);
  color: white;
  padding: 5px 20px;
  border: 3px solid var(--primary-color);
  box-shadow: 4px 4px 13px rgba(0, 0, 0, 0.23);
  border-radius: 12px;
  height: 32px;
  width: 288px;
  font-weight: 300;
  font-size: 14px;
}

.enviar-botao:hover {
  cursor: pointer;
}

.copyright {
  display: flex;
  justify-content: center;
  font-weight: lighter;
}
